body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cyan;
}
input {
	display:none;
}

label {
	width: 60px;
	height: 30px;
	background-color: white;
	border:2px solid blue;
	border-radius: 20px;
	display: inline-block;
	position: relative;
}

label::after {
	content: " ";
	width: 30px;
	height: 30px;
	background-color: Green;
	border-radius: 50%;
	position: absolute;
	left: -1px;
	transition: transform 0.2s linear;
}

input:checked + label::after {
	transform: translateX(100%);
}